<div class='index endpoints'>
  <h4>Endpoints</h4>
  <ul class='list-unstyled'>
    <li>
      <code>GET /users?sort_by=username&amp;limt=2&amp;offset=1</code> (paramaters optional)
    </li>
    <li>
      <code>GET /users/:user</code>
    </li>
  </ul>
</div>
